body{
  background-color: rgb(23, 32, 42);
}

.gameaudio{
  display: none;
  /*position: absolute; 
  top: -9999px; 
  left: -9999px;*/
}

#nested {
  position: relative;
  left: -12pt;
  color: rgba(217, 83, 79, 0.7);
}

#gamebox{
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  padding: 12pt;
}

.gametitle{
  -webkit-text-stroke: 2px white;
}

.gametitle:hover{
  -webkit-text-stroke: 2px white;
  cursor: pointer;
  opacity: 0.6;
}

.intButton:hover{
    opacity: 0.6;
    width: 26%;
    cursor: pointer;
}
.intButton{
    border: 1px dashed black;
    border-radius: 5px;
    padding: 10pt;
}

.anyClass {
    height:70vh;
    overflow-y: scroll;
}

.version{
  position: fixed;
  bottom: 20px; right: 20px;
  -webkit-text-stroke: 2px white;
}

.btn-filo{
  background-color: rgb(221, 25, 113);
  color: white;
}

.ps-text{
  color: rgb(221, 25, 113);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*::-webkit-scrollbar-track {
    background: white;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px white;
    

}
::-webkit-scrollbar-thumb {
    background: #900384;
    box-shadow: inset 0 0 10px 10px #900384;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    border-radius: 25px;
  }